        $style: "first-section";
        .#{$style} {
            padding: 70px 0 100px;
            position: relative;
            &__description {
                &--first {
                    left: -180px;
                }
                &--second {
                    left: -240px;
                }
                &--third {
                    left: -260px;
                    top: -75px;
                }
                &--fourth {
                    left: -240px;
                }
                &--fifth {
                    left: -260px;
                    top: -78px;
                }
                &--sixth {
                    left: -240px;
                }
                &--seventh {
                    left: -255px;
                    top: -92px;
                }
                &--eighth {
                    left: -257px;
                    top: -78px;
                }
                &--ninth {
                    left: -190px;
                }
                &--tenth {
                    left: -262px;
                    top: -78px;
                }
            }
        }