$style: "fourth-section";
.#{$style} {
    padding: 100px 0;
    &__title {
        max-width: 400px;
    }
    &__description {
        &--first {
            left: -258px;
            top: -122px;
        }
        &--second {
            left: -260px;
            top: -90px;
        }
        &--third {
            left: -262px;
            top: -75px;
        }
        &--fourth {
            left: -262px;
            top: -90px;
        }
        &--fifth {
            left: -260px;
            top: -75px;
        }
        &--sixth {
            left: -255px;
            top: -107px;
        }
        &--seventh {
            left: -255px;
            top: -107px;
        }
        &--eighth {
            left: -255px;
            top: -91px;
        }
        &--ninth {
            left: -255px;
            top: -75px;
        }
        &--tenth {
            left: -262px;
            top: -75px;
        }
    }
}