@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');
//fonts
$main-font-josefin: 'Josefin Sans',
sans-serif;
//colors
$dark-color: #262626;
$white-color: #ffffff;
$orange-color: #ff6033;
$yellow-color: #ffe92f;
$gallery-btn-color: #5585a2;
$subscribe-btn-color: #96b92c;
$blog-bg-color: #b07cf7;
$blog-btn-color: #f72b3b;
$services-bg-color: #70bfff;
$contact-form-color: #00c4c4;
$contact-form-focus: #355b82;
$footer-text-color: #b9b9b9;
$footer-love-color: #ff2b58;
$black-color: #000;
//sizes
$large-size: 50px;
$middle-size: 25px;
$small-size: 16px;