@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;600;700&display=swap');
//fonts
$main-font: 'Hind Siliguri',
sans-serif;
//colors
$black-color: #000;
$white-color: #ffffff;
$bg-color: #2c3039;
$yellow-color: #fecc0f;
$section-bg-color: #13171f;
$bg-color: #1f2532;
$nav-title-color: #474e5d;
//sizes
$header-title-size: 53px;
$large-size: 38px;
$big-size: 22px;
$middle-size: 16px;
$small-size: 14px;