@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
//fonts
$main-font: 'Lato',
sans-serif;
//colors
$black-color: #000;
$white-color: #ffffff;
$header-bg-color: #2b3040;
$title-color: #fbfbfb;
$section-bg-color: #212534;
$text-color: #b7bacd;
$circle-number-color: #aaadbb;
$discount-color: #fedc3f;
$btn-bg-color: #13e28d;
//sizes
$header-title-size: 16px;
$title-size: 32px;
$number-size: 20px;
$text-size: 14px;
$discount-size: 12px;